header {
    background-color: crimson;
    color:White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin-left: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin-right: 20px;
    font-size: 16px;
}

section {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.card {
    border: 1px solid gray;
}

img {
    width: 100%;
}